li {
	list-style: none;
}
#title {
	background: #3498DB;
}
#title li {
	float: left;
	position: relative;
}
#title ul {
	display: inline-block;
	margin-bottom: 0;
	padding-left: 0;
}
#title > div {
	text-align: center;
}
#title li a {
	display: block;
	padding: 1em;
	font-size: 1em;
	color: white;
}
#title li a:hover {
	text-decoration: none;
}
#title li:hover {
	border-bottom: 1px solid white;
}